html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: #f9f9f9 url('../img/bg.png');
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 3px #d3d3d3;
}
.search {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}
.search__input {
  width: 100%;
  padding: 15px 15px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  color: #428bca;
}
.search__input::placeholder {
  color: #428bca;
}
.search__input:focus {
  outline: none;
}
.search__input:focus::placeholder {
  color: rgba(66, 139, 202, 0.6);
}
.list {
  list-style: none;
  width: 300px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  height: 300px;
  overflow-y: auto;
}
.list::-webkit-scrollbar-button {
  background: #fff;
  width: 6px;
  height: 0px;
}
.list::-webkit-scrollbar-track {
  background: #fff;
}
.list::-webkit-scrollbar-thumb {
  background: #999;
}
.list::-webkit-resizer {
  width: 7px;
  height: 0px;
}
.list::-webkit-scrollbar {
  width: 11px;
}
.list__link {
  display: block;
  width: inherit;
  color: #666;
  text-decoration: none;
  padding: 10px 15px;
  transition: text-indent 0.3s linear;
  outline: none;
}
.list__link:hover,
.list__link:focus {
  text-indent: 7px;
  color: #428bca;
}
.list__link--develop {
  color: rgba(244, 42, 42, 0.8);
}
.list__link--develop:hover,
.list__link--develop:focus {
  color: #f42a2a;
}
.right-sidebar {
  display: flex;
  wrap: no-wrap;
  flex-direction: column;
  position: absolute;
  right: -40px;
  top: 0;
}
.right-sidebar__link {
  width: 35px;
  height: 35px;
  outline: none;
  background-size: cover;
}
.right-sidebar__link + .right-sidebar__link {
  margin-top: 5px;
}
.right-sidebar__link--upload {
  background-image: url('../img/upload.svg');
}
.right-sidebar__link--links {
  background-image: url('../img/link-symbol.svg');
}
.right-sidebar__link:focus,
.right-sidebar__link:hover {
  opacity: .7;
}
.time {
  font-weight: bold;
  color: #428bca;
  font-size: 0;
  position: absolute;
  top: -30px;
  display: none;
}
.time__item {
  font-size: 24px;
  animation: time_dots 1s linear infitene;
}
.time__item + .time__item::before {
  content: ':';
  font-size: 24px;
  animation: time_dots 1s linear infinite;
}
@keyframes time_dots {
  0% {
    color: #428bca;
  }
  100% {
    color: #245682;
  }
}
