@bg-color: #f9f9f9;
@color-link: #666;
@color-link-hover: #428bca;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: @bg-color url('../img/bg.png');
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid darken(@bg-color, 10%);
  box-shadow: 0 0 3px darken(@bg-color, 15%);
}

.search {
  width: 100%;
  border-bottom: 1px solid darken(@bg-color, 10%);

  &__input {
    width: 100%;
    padding: 15px 15px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    color: #428bca;

    &::placeholder {
      color: #428bca;
    }

    &:focus {
      outline: none;

      &::placeholder {
        color: rgba(66, 139, 202, .6);
      }
    }
  }
}

.list {
  list-style: none;
  width: 300px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  height: 300px;
  overflow-y: auto;

  &::-webkit-scrollbar-button {
    background: #fff;
    width:6px; 
    height:0px 
  } 

  &::-webkit-scrollbar-track {
    background: #fff;
  } 

  &::-webkit-scrollbar-thumb {
    background: #999;
  } 

  &::-webkit-resizer {
    width:7px; 
    height:0px 
  } 

  &::-webkit-scrollbar {
    width: 11px; 
  }

  &__link {
    display: block;
    width: inherit;
    color: @color-link;
    text-decoration: none;
    padding: 10px 15px;
    transition: text-indent .3s linear;
    outline: none;

    &:hover,
    &:focus {
      text-indent: 7px;
      color: @color-link-hover;
    }

    &--develop {
      color: rgba(244, 42, 42, .8);

      &:hover,
      &:focus {
        color: rgba(244, 42, 42, 1);
      }
    }
  }
}

.right-sidebar {
  display: flex;
  wrap: no-wrap;
  flex-direction: column;
  position: absolute;
  right: -40px;
  top: 0;

  &__link {
    width: 35px;
    height: 35px;
    outline: none;
    background-size: cover;

    & + & {
      margin-top: 5px;
    }

    &--upload {
      background-image: url('../img/upload.svg');
    }

    &--links {
      background-image: url('../img/link-symbol.svg');
    }
    
    &:focus,
    &:hover {
      opacity: .7;
    }
  }
}

.time {
  font-weight: bold;
  color: #428bca;
  font-size: 0;
  position: absolute;
  top: -30px;
  display: none;

  &__item {
    font-size: 24px;
    animation: time_dots 1s linear infitene;

    & + & {
      &::before {
        content: ':';
        font-size: 24px;
        animation: time_dots 1s linear infinite;
      }
    }
  }
}

@keyframes time_dots {
  0% {
    color: #428bca;
  }

  100% {
    color: darken(#428bca, 20%);
  }
}